body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-element {
    text-align: center;
}

#main-page {
    padding: 20px 0;
}

#add-container-wrapper {
    display: inline-grid;
}

.section-header {
    font-size: 20px;
    color: #aaa;
}

.add-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.picker {
    min-width: 250px;
}

.container {
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 3px;
    margin: 7px;
    padding: 10px;
}

.container-header {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #aaa;
    padding-bottom: 10px;
    text-align: center;
}

.option {
    display: inline-block;
    padding: 5px 10px;
    color: #333;
    background-color: #eee;
    margin: 3px;
    border-radius: 3px;
}

.clickable {
    cursor: pointer;
}

.selected-option {
    background-color: #ccc;
}

.add-button {
    padding: 7px 15px;
    color: white;
    background-color: #5191FF;
    margin: 7px;
    border-radius: 3px;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

.add-button-container {
    text-align: right;
}

.sets-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    color: #5191FF;
}

.help {
    text-align: left;
}